@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600 !important;
    color: #414141 !important;
}

.react-calendar__tile--active{
    background-color: #AF0404 !important;

}

.react-calendar__tile--now{
    background-color: #414141 !important;
    color: white !important;
}

.rbc-btn-group:first-child {
    display: none !important;
}
.rbc-toolbar-label{
    text-align: right !important;
    padding: 0px 20px !important;
}

.rbc-btn-group:last-child{
    font-size: 13px !important;
}

.rbc-btn-group:last-child button{
    border: none !important;
    background-color: #f1f0ff !important;
    margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active{
    background-color: #414141 !important;
    box-shadow: none !important;
    color: white !important;
}

.rbc-time-view{
    border-color: #eee !important;
}

.rbc-allday-cell{
    display: none !important;
}

.rbc-time-content{
    border: none !important;
}

.rbc-time-gutter.rbc-time-column{
    font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column.rbc-timeslot-group{
    padding: 0px 20px !important;
}

.rbc-timeslot-group{
    background-color: #f7fdff !important;
}

.rbc-day-slot{
    font-size: 14px !important;
}
.rbc-event{
    border: none !important;
    padding: 10px !important;
    margin-left: 10px !important;
    width: calc(100% - 10px) !important;
    background-color: #414141 !important;
}

.rbc-event-label{
    font-size: 5px !important;
    padding-bottom: 10px !important;
}